---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Documentation">

<section class="container" style="padding:8rem 0;">

<h1>Documentation</h1>

<p>
Welcome to the Zero-Day handbook.
This documentation will explain zero-day vulnerabilities,
real-world exploits, Linux security, and modern defense strategies.
</p>

</section>

</BaseLayout>